<tr>
  <td>(<%= credential.country %>) <%= credential.phone %></td>
  <td><%= credential.company_name %></td>
  <td><%= credential.username %></td>
  <td><%= credential.version  %></td>
  <td><%= credential.kubernetes %></td>
  <td><a class="btn btn-info btn-xs" href="/metrics/<%= "#{credential.country}#{credential.phone}"%>/pretty">View metrics</a></td>
</tr>