<tr>
  <td>(<%= credential.country %>) <%= credential.phone %></td>
  <td><%= credential.company_name %></td>
  <td><%= credential.username %></td>
  <td><%= credential.version  %></td>
  <td><%= credential.kubernetes %></td>
  <td>
    <a target="_blank" class="btn btn-info btn-xs" href="/metrics/<%= "#{credential.country}#{credential.phone}"%>/pretty">View metrics</a>
    <a target="_blank" class="btn btn-success btn-xs" href="http://grafana.wa.prod.nexmo.cloud/dashboard/db/wa-cluster-metrics?orgId=1&var-customer=<%= "#{credential.country}#{credential.phone}" %>">View in Grafana</a>
  </td>
</tr>